div#upload_video_modal {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80%;
}
div#upload_video_modal__icon img{
    width: 30%;
    height: 30%;
}

div#upload_video_modal__button{
    margin-top: 1.25rem;
}
div#upload_video_modal__button input{
    opacity: 0;
    position: absolute;
    z-index: -1;
}

div#upload_video_modal__button label{
    display: block;
    padding: .625rem;
    background-color: #065fd4;
    color: white;
    border-radius: 5%;
}
