
/* div.video {
    height: 24.375rem;
} */

a.video{
    color: #000
}

a.video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a.video div.video__thumbnail {
    position: relative;
    height: 13.75rem;
}

a.video div.video__thumbnail div.video__thumbnail__time {
    position: absolute;
    color: white;
    bottom:4px;
    right:7px;
    font-size: .75rem;
    background-color: black;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

a.video div.video__desc {
    display: flex;
    justify-content: space-between;
    padding: .7rem .5rem 1rem .75rem;
}

a.video div.video__desc div.video__desc__profile_picture {
    width: 2.5rem;
    height: 2.5rem;
}

a.video div.video__desc div.video__desc__profile_picture img {
    border-radius: 50%;
}

a.video div.video__desc div.video__desc__description{
    padding: 0 .5rem;
    width: 18.75rem;
}

a.video div.video__desc div.video__desc__description div.video__desc__description__video_name{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.3rem;
}

a.video div.video__desc div.video__desc__description div.video__desc__description__channel_status{
    font-size: .74rem;
    color: darkgray;
}



a.video div.video__desc div.video__desc__triple_dots {
    padding: .375rem .375rem 0 0;
}